<% provide :title, t("home_title") %>
<body>
  <%= render "layouts/header" %>
  <%= render "layouts/carousel" %>
  <%= render "layouts/food" %>
  <%= render "layouts/drink" %>
  <%= render "layouts/hot" %>
</body>
